body {
  max-width: 1080px;
  margin: 0 auto;
  font-family:"Source Sans Pro", "Hiragino Kaku Gothic ProN", "Meiryo", Arial, sans-serif;
  font-size: 16px;
}
/* header */
/**************************/
.header-inner-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-inner-div ul {
  display: flex;
  list-style: none;
}
.header-inner-div ul li a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.header-inner-div ul li a:hover {
  text-decoration: underline;
  color: #D0A900;
}
/* main */
/**************************/
.main-visual-section {
  position: relative;
}
.main-visual-div-text {
  position: absolute; /* 絶対配置(子) */
  top: 10px; /* 上からの位置 */
  left: 10px; /* 左からの位置 */
  color: white; /* 文字色 */
  z-index: 11;  /* 重なり順 */
}
.main-visual-section img {
  width: 100%;
  height: auto;
  z-index: 10; /* 重なり順 */
  margin: 0 auto;
}
/* コンセプト */
/**************************/
#concept {
  margin: 50px auto;
  padding: 10px 40px 0px 40px;
 }
#concept h2 {
  margin: 10px 0 0 0;
}
#concept h2::after {
  content: url("../img/line.png"); /* 画像の挿入 */
 margin-left: 10px; /* 画像と文字の間隔 */
}
.concept-inner-div {
  display: flex;
  text-align: center;
}
.concept-div {
  width: 50%;
  margin: 20px;
}
.concept-div img {
  max-width: 80%;
}
.concept-div h3 {
  font-size: 27px;
  text-align: center;
}
.concept-div p {
  text-align: center;
}
/*  product */
/**************************/
#product {
  background-color: #fafafa;
  margin: 20px auto;
  padding: 10px 40px 0 40px;
}
#product h2::after {
  content: url("../img/line.png"); /* 画像の挿入 */
  margin-left: 10px; /* 画像と文字の間隔 */
}
span {
  color: #04414A;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}
.product-inner-inner-div {
  display: flex;
  margin: 10px auto;
}
.product-inner-inner-div img {
  width: 100%;
  height: auto;
}
.product-inner-left-div {
  width: 50%;
}
.product-inner-right-div {
  width: 50%;
  margin: 50px 20px 0 20px;
}
.product-text-div {
  position: absolute; /* 絶対配置(子) */ 
  background-color: #ffffff;
  margin: 0 40px 0 40px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.product-text-div h3 {
  margin: 5px 0;
}
.product-text-div p {
  margin: 0;
}
.product-inner-left-div .product-text-div {
 position: relative;  /* 相対配置(親) */
 bottom: 150px;
}
.product-inner-right-div .product-text-div {
  position: relative;   /* 相対配置(親) */
  bottom: 150px;
}
/* company */
/**************************/
#company {
  margin: 80px auto;
}
#company h2 {
  border-bottom: 1px solid #ececec;
  padding-bottom: 10px;
  margin-left: 20px;
}
#company h2::after {
  content: url("../img/line.png"); /* 画像の挿入 */
  margin-left: 10px; /* 画像と文字の間隔 */
}
.company-inner-text-div {
  display: flex;
  margin: 20px 0 20px 10px;
  align-items: center;
}
.company-inner-text-div h3 {
  border-bottom: 1px solid #04414A;
  padding-bottom: 20px;
  width: 7%;
}
.company-inner-text-div p {
  border-bottom: 1px solid #ececec;
  padding-bottom: 20px;
  display: flex;
  width: 100%;
  font-size: 19px;
}
/* company */
/**************************/
/* footer */
.footer-section {
  background-color: #04414A;
  margin: 10px auto;
  text-align: center;
  align-items: center;
  padding: 50px 20px 10px 10px;
}
.footer-inner-div ul {
  display: flex;
  list-style: none;
  justify-content: center;
}
.footer-inner-div ul li a {
  margin-right: 20px;
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.footer-inner-div ul li a:hover {
  text-decoration: underline;
  color: red;
}
.footer-footer-div {
  display: flex;
  justify-content: space-between;
}
.footer-sms-div a {
 padding: 0 10px;
}
.footer-footer-div p {
  color: #ffffff;
  font-size: 14px;
}
.footer-sms-div a:hover {
  opacity: 0.5;
}
/* footer */
/******************************************************************/

/* レスポンシブ */
@media screen and (max-width: 1080px) {
/* header */
/***************************************************************/
.header-inner-div nav {
  display: none;
}
.header-inner-div img {
  text-align: center;
  margin: 0 auto;
}
/* main-visual */
/****************************************************************/
.main-visual-div-text {
  width: 100%;
  height: auto;
}
.main-visual-section img {
  width: 100%;
  height: auto;
  z-index: 10;
}
/*  product */
/*****************************************************************/
.product-inner-inner-div {
  display: block;
}
.product-inner-left-div {
  width: 100%;
  margin: 10px;
}
.product-inner-right-div{
  width: 100%;
  margin: 10px;
}
/* コンセプト */
/*****************************************************************/
.concept-inner-div {
  display: block;
}
.concept-div {
  width: 100%;
  margin: 10px;
}
#concept {
  margin: 10px auto;
  padding: 10px;
 }
#concept h2 {
  margin: 10px 0 30px 0;
}
.product-text-div h3 {
  margin: 0;
  padding: 0;
}
.product-text-div p {
  padding: 5px;
  margin: 5px;
}
/* company */
/*****************************************************************/
.company-inner-text-div {
  display: block;
}
.company-inner-text-div h3 {
  border-bottom: none;
  width: 100%;
}
.company-inner-text-div p {
  border-bottom: 1px solid #04414A;
  padding-bottom: 20px;
  width: 100%;
}
#company h2 {
  border-bottom: 1px solid #04414A;
  margin-left: 10px;
}
/* footer */
/*****************************************************************/
.footer-footer-div {
  display: block;
}
}