@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Permanent+Marker&family=Playwrite+IN:wght@100..400&family=Playwrite+VN:wght@100..400&family=Zen+Antique+Soft&display=swap');

/* ********************************************************/
/* 全体の背景色 */
/* ********************************************************/
html {
  background-color: #e5f3fc;
}
/* 画面のコンテンツの最大幅 */
body {
  margin: 0 auto 0 auto;
}
/* footerの装飾 */
footer {
  background-color: pink;
  text-align: center;
}
/* ********************************************************/
/* header */
/* ********************************************************/
.header-logo-div {
/* 固定スクロール */
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 192, 203, 0.8);
  z-index: 1000;
}
.header-logo-div h1 {
  text-align: center;
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}
.main-img {
  width: 100%;
  height: auto;
  margin-top: 100px;
}
/* ********************************************************/
/* main-content*/
/* ********************************************************/
.main-content {
  display: flex;
  justify-content: center; /* 子要素を真ん中で均等に配置 */
  gap: 50px; /* 子要素間の間隔 */
  flex-wrap: wrap; /* 画面幅が狭くなったときに折り返す */
  padding: 20px; /* 内側の余白を小さく */
  margin: 50px auto; /* 上下の余白を小さくし、左右は中央寄せ */
  max-width: 1080px; /* 白い枠の大きさ設定 */
  height: auto;
  background-color: white;
}
.main-content-top {
  display: flex;
  justify-content: center; /* 子要素を真ん中で均等に配置 */
  gap: 50px; /* 子要素間の間隔 */
  width: auto; /* 白い枠の大きさ設定 */
  height: auto;
  flex-wrap: wrap; /* 画面幅が狭くなったときに折り返す */
  padding: 20px; /* 内側の余白を小さく */
  margin: 50px auto; /* 上下の余白を小さくし、左右は中央寄せ */
  background-color: white;
}
/* Webサイト **********************************************************************/
.main-content-top-web {
  display: flex;
  justify-content: center; /* 子要素を真ん中で均等に配置 */
  gap: 50px; /* 子要素間の間隔 */
  width: auto; /* 白い枠の大きさ設定 */
  height: auto;
  flex-wrap: wrap; /* 画面幅が狭くなったときに折り返す */
  padding: 20px; /* 内側の余白を小さく */
  margin: 50px auto; /* 上下の余白を小さくし、左右は中央寄せ */
  background-color: white;
}
.main-web-div {
  background-color: #37D3DE;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  height: 500px;
}
/* Webサイト　ここまで *************************************************************/
/* content-中身 */
.main-div {
  background-color: #37D3DE;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  height: 400px;
}
/* リンクの線を消す */
.href-a {
  text-decoration: none;
}
.main-div:hover {
  box-shadow: 10px 10px 0 pink;
}
.main-div img {
  width: 200px;
  height: 200px;
  border-radius: 8px;
}
.main-text-div {
  color: black;
  font-weight: bold;
}
/* ********************************************************/
/* テキスト装飾 */
/* ********************************************************/
.main-text-h1 {
  text-align: center;
  font-size: 32px;
}
.main-h1 {
  text-align: center;
  font-weight: bold;
  margin: 70px auto;
}
.main-text-Observations-div {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  text-align: center;
  width: 800px;
}
.Observations-h1 {
  text-align: center;
  font-weight: bold;
} 
.Observations-h2 {
  font-weight: bold;
}
.Observations-h22 {
  font-weight: bold;
  color: red;
  font-size: 32px;
}
#footer-text h3 {
  font-family: "Kumar One", serif;
  font-weight: 400;
  font-style: normal;
}
/* ********************************************************/
/* レスポンシブ */
/* ********************************************************/
@media screen and (max-width: 600px) {
.main-h1 {
  font-size: 20px;
  margin: 50px auto;
}
}
