/* グーグルフォント読み込み @import　CSS読み込み方法*/
/* WEBフォントは、処理がス濃い重いので、タイトルなどで使用する */
/* 本文などは、通常の文字、パソコンに入っているものを指定するのがよい */
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital@0;1&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP&family=Permanent+Marker&family=Rakkas&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Zen+Antique+Soft&display=swap');
/* footer */
footer {
  background-color: pink;
  text-align: center;
/* 画面幅が1000px以下の時は、画面の幅に従う */
/* width: 1000px;=>width: auto==大きさが自動で変化するようにしている */
  width: 1000px;
  margin: 10px auto;
}
body {
  background-color: bisque;
  padding: 10px;
  font-size: 16px;
  color: black;
}
.precode-div {
  width: 1000px;
  margin: 0 auto;
}
header {
  background-color: #422814;
  padding: 10px;
  color: white;
  font-family: "Zen Antique Soft", serif;
}
header h1 {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
  text-align: center
}
/* 全体の最大幅 */
.container {
  width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
/* タイトル部分－フレキシブルボックスおすすめ */
.infomation {
  display: flex;
  align-items: center;
}
.infomation h1 {
  font-size: 18px;
  margin: 0 15px 0 20px;
}
/* 画像左に移動 */
.description img {
  float: left;
  margin: 0 10px;
/* アニメーション用 */
transition-property: opacity;  /* 何を？ */
transition-duration: 1s;       /* 何秒かけて変化？ */
transition-timing-function: ease;   /* イーズイン　イーズアウ */
transition-delay: 0s;        /* どれくらい遅れるか？ */
}
/* リンクを画像に作成したので、マウスカーソルで変化 */
.description img:hover {
 opacity: 0.5;
}
/* 回り込み解除 */
.songs h2 {
  clear: both;
  font-size: 1em;
  font-weight: normal;
  margin: 0;
  background-color: #e6e4dd;
  padding: 5px 50px;
}
/* 曲の所名前 */
.type {
  background-color: red;
  padding: 3px;
  color: white;
  font-size: 0.6em;
}
/* ディスプレイグリッド-123=456=>分かれて配置された */
.songs ol {
 display: grid;
/* 1fr 1fr(分ける割合を変更)1fr 1fr 1fr(3列になる)*/
 grid-template-columns: 1fr 1fr;
/* 枠からはみ出たら中に入る */
 list-style-position: inside;
 padding: 0;
 margin: 0;
}
.songs li {
/* 下線 */
  border-bottom: 1px solid #ccc;
  padding: 10px;
} 
/* 全体本文の中身の余白 */
.section {
  padding: 20px;
}
.section-div {
  max-width: 1000px;
  margin: 10px auto;
  padding: 10px;
}
.section-div h2 {
  font-size: 24px;
  background-color: #ccc;
  padding: 10px;
}
.section-div p {
  padding: 5px 10px 5px 10px;
}
.section-div h3 {
  padding: 5px 10px 5px 10px;
  color: red;
}
/**********************************************************/
/* プレコード */
/**********************************************************/
.precode-div {
  max-width: 1000px;
  margin: 0 auto;
}
pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: auto;   /* スクロールバー */ 
}
pre:hover {
  background-color: #f0f0f0;
  color: blue;
}
/**********************************************************/
/* メディアクリエイト */
/**********************************************************/
@media screen and (max-width: 1000px) {
/* 画像の位置元に戻す */
.description img {
  float: none;
/* マージンで画像を真ん中に表示=>ディスプレイブロックは決まり事 */
  margin: 10px auto;
  width: 100%;
  display: block;
}
/* width: 800px;=>width: auto==大きさが自動で変化するようにしている */
.container {
  width: auto;
  margin: 0 auto;
}
header {
  padding: 5px;
}
header h1  {
  font-size: 12px;
}
.infomation h1 {
  font-size: 14px;
}
/* CSS-grig 解除 */
.songs ol {
  display: block;
}
.precode-div {
  width: auto;
  margin: 0 auto;
}
pre {
  white-space: pre-wrap; /* 折り返し */
  padding: 5px;
}
footer {
  width: auto;
  margin: 0 auto;
}
}