html {
  background-color: #e5f3fc;
}
body {
  margin: 0 auto;
  font-family: sans-serif;
}
/* 項目委の枠 */
div {
  background-color: #B1DDE6;
  padding: 10px 50px 10px 50px; 
  margin: 100px auto;
}
/* a リンクの所 */
.back-div {
  background-color: greenyellow;
  padding: 10px;
  text-align: center;
  font-size: 16px;
} 

.back-div a {
  color: blue;
  font-size: 16px;
  font-weight: bold;
}

.back-div a:hover {
  color: red;
}
header h1 {
  text-align: center;
}
main h1 {
  text-align: center;
  background-color: pink;
  padding: 20px;
}
h2 {
  text-align: center;
}

img {
  width: 100%;
}

.main-img {
  width: 100%;
}

.script-div {
  background-color: beige;
}
button {
  background-color: plum;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}
.Calculator input {
  width: 200px;
  padding: 10px;
  font-size: 16px;
}
.Calculator-div #btn3 {
  background-color: plum;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}

/***********************************************************************/
/* コード要素の編集 */
/***********************************************************************/
/* プレ要素の編集 */
pre {
  /* background-color: rgba(255, 192, 203, 0.5);  ピンクで50%透明 */
  padding: 10px;
  border: 2px solid black;
  border-radius: 4px;
  overflow: auto;
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}
/* マウスがきたら変化がおこる */
pre:hover {
  background-color: #f1f1f1;
  color: blue;
}
pre code {
  display: block;
}
/***********************************************************************/
/* テーブル装飾 */
/***********************************************************************/
table {
  width: 90%;
  margin: 0 auto 0 auto;
  border-collapse: collapse;
  background-color: #fff;
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}
tr:hover {
  background-color: #f1f1f1;
}
