html {
  background-color:  #e5f3fc
}
body {
  width: 1000px;
  margin:0 auto;
}
header h1 {
  text-align: center;
  font-family: "Georgia", "Times New Roman", serif;
}
header img {
  width: 100%;
  height: auto;
}
footer {
  background-color: pink;
  text-align: center;
}
.main-div {
  margin: 150px auto;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}
.main-div p {
  color: red;
  font-weight: bold;
}
.main-div h3 {
  text-align: center;
  font-family: "游ゴシック", "ヒラギノ角ゴ ProN", "メイリオ", "MS PGothic" , sans-serif; 
}
/************************/
/* フレックスボックス */
/************************/
.box {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.box100 {
  width: 100px;
  height: 200px;
  border: 1px solid black;
  background-color: bisque;
}
.box200 {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.box300 {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  background-color: bisque;
}
.container {
  display: flex;
/* 標準の状態 */
  flex-direction: row; 
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}
.container-column {
  display: flex;
  flex-direction: column;
}
.container-row-reverse {
  display: flex;
  flex-direction: row-reverse;
}
.container-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.container-justify-countent {
  display: flex;
  justify-content: flex-start;
}
.container-justify-countent-flex-end {
  display: flex;
  justify-content: flex-end;
}
.container-justify-countent-center {
  display: flex;
  justify-content: center;
}
.container-justify-countent-space-between {
  display: flex;
  justify-content: space-between;
}
.container-justify-countent-space-around {
  display: flex;
  justify-content: space-around;
}
.container-align-items-center {
  display: flex;
  align-items: center;
}
.container-container {
  border: 2px solid blue;
  height: 500px;  /* 高さを指定 */
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-container-flex-start {
  border: 2px solid blue;
  height: 500px;  /* 高さを指定 */
  padding: 10px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.container-composite {
  display: flex;
  border: 2px solid blue;
  align-items: center;
  height: 500px;  
  padding: 10px;
}
.container-composite-warp-space-between {
  display: flex;
  border: 2px solid blue;
  height: 500px;  
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-between;
}
.container-composite-warp-space-around {
  display: flex;
  border: 2px solid blue;
  height: 500px;  
  padding: 10px;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
}

/************************/
/* 子要素 */
/************************/
.container-child {
  display: flex;
  border: 2px solid blue;
  height: 500px;
}
.container-child-align-self {
  display: flex;
  align-items: center;
  border: 2px solid blue;
  height: 500px;
}
.boxD {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxA {
  order: 2;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxB {
  order: 1;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxC {
  order: 3;
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxE {
  flex-grow: 1;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxF {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxG {
  /* flex-grow: 1;の２倍のwidth */
  flex-grow: 2;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxI {
  /*  flex-shrink: 1; */
  flex-shrink: 1;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxL {
  /*  flex-shrink: 2; flex-basis: 300px;*/
  flex-shrink: 2;
  flex-basis: 300px;
  height: 100px;
  border: 1px solid black;
  background-color: bisque;
}
.boxH {
  width: 100px;
  height: 300px;
  border: 1px solid black;
  background-color: bisque;
}
.boxZ {
  width: 100px;
  height: 100px;
   /*  align-self: flex-start;　上からスタート*/
  align-self: flex-start;
  border: 1px solid black;
  background-color: bisque;
}
.boxJ {
  width: 100px;
  height: 50px;
  border: 1px solid black;
  background-color: bisque;
}
/************************/
/* プレコード */
/************************/
pre {
  padding: 10px;
  border: 2px solid black;
  overflow: auto;
  font-weight: bold;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
pre:hover {
  background-color: #f1f1f1;
  color: blue;
}