html {
  background-color:  #e5f3fc
}
body {
  width: 1000px;
  margin:0 auto;
}
header h1 {
  text-align: center;
  font-family: "Georgia", "Times New Roman", serif;
}
header img {
  width: 100%;
  height: auto;
}
footer {
  background-color: pink;
  text-align: center;
}
.main-div {
  margin: 150px auto;
  background-color: white;
  padding: 20px;
  border: 1px solid black;
}
.main-div p {
  color: red;
  font-weight: bold;
}
.main-div h3 {
  color: black;
  font-weight: bold;
  text-align: center;
}
/************************/
/* CssGrid */
/************************/
.box {
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.countainer {
  display: grid;
}
.countainer-columns {
  display: grid;
/*  子供の要素(4子供)に対してwidth指定可能 */
  grid-template-columns: 100px 100px 100px 100px;
}
.countainer-columns2 {
  display: grid;
/*  子供の要素(3子供)に対してwidth指定して、残りの子供はコラムして表示される */
  grid-template-columns: 100px 100px 100px;
}
.countainer-columns-fr {
  display: grid;
/*  1fr=100pxの余った部分を全て占領する  */
  grid-template-columns: 100px 1fr 100px;
}
.countainer-columns-fr4 {
  display: grid;
/*  1fr=100pxの余った部分を全て占領する  */
  grid-template-columns: 100px 1fr 100px 1fr;
}
/************************/
/* 各子要素 */
/************************/
.countainer-child-rows {
  display: grid;
  grid-template-columns: 100px 100px 100px;
/*  2個目の折り返しのところが200pxになる  */
  grid-template-rows: 100px 200px ;
}
.countainer-child-rows-1fr {
  display: grid;
  grid-template-columns: 100px 100px 100px;
/*  2個目の折り返しのところが(1fr)になる  */
  grid-template-rows: 100px 1fr ;
/* (1fr)使用するには、heightが指定していないといけない */
  height: 500px;
  border: 1px solid black;
}
.countainer-child-rows-1fr-culum {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 1fr ;
  height: 500px;
  border: 1px solid black;
/* columになる */
  grid-auto-flow: column;
}
.countainer-child-order {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
}
.box5 {
  order: 5;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box6 {
  order: 8;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
} 
.box7 {
  order: 7;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box8 {
  order: 6;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
/************************/
/* grid-colum */
/************************/
.countainer-child-columns {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 200px;
  height: 500px;
  border: 1px solid black;
}
.box100 {
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box200 {
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box300 {
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box400 {
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box500 {
/* grid-column: 1/4=(1)スタート位置(2)ゴール位置 */
  border: 1px solid black;
  grid-column: 1/4;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
} 
/************************/
/* grid-temple-area */
/************************/
.countainer-child-grid-temple-area {
  display: grid;
/* grid-temple-area 設定したarea名を入れて分割を割合指定 */
  grid-template-areas: "area1 area1 area1"
                       "area2 area3 area3"
                       "area4 area4 area4"
}
.box600 {
/* grid-area: (名前は自由); */
  grid-area: area1;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box700 {
/* grid-area: (名前は自由); */
  grid-area: area2;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box800 {
/* grid-area: (名前は自由); */
  grid-area: area3;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box900 {
/* grid-area: (名前は自由); */
  grid-area: area4;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box1000 {
  grid-area: area5;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box2000 {
  grid-area: area6;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box3000 {
  grid-area: area7;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box4000 {
  grid-area: area8;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.box5000 {
  grid-area: area8;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.countainer-child-grid-temple-area-area {
  display: grid;
  grid-template-areas: "area1 area2 area3 area4"
                       "area5 area5 area6 area6"
                       "area7 area7 area7 area7"
                       "area8 area9 area10 area10"                     
}
.boxarea1 {
  grid-area: area1;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea2 {
  grid-area: area2;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea3 {
  grid-area: area3;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea4 {
  grid-area: area4;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea5 {
  grid-area: area5;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea6 {
  grid-area: area6;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea7 {
  grid-area: area7;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea8 {
  grid-area: area8;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea9 {
  grid-area: area9;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
.boxarea10 {
  grid-area: area10;
  border: 1px solid black;
  background-color: bisque;
  text-align: center;
}
/************************/
/* プレコード */
/************************/
pre {
  padding: 10px;
  border: 2px solid black;
  overflow: auto;
  font-weight: bold;
  font-family: 'Arial Narrow', Arial, sans-serif;
}
pre:hover {
  background-color: #f1f1f1;
  color: blue;
}