body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-size: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}
.content {
  display: flex;
}
.left {
  /* 親　画像固定 */
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  margin-right: 50%;
  height: 100%;
  overflow: hidden;
}
.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}
.right {
  margin-left: 50%;
  padding: 0 20px;
  width: 50%;
  overflow-y: auto;
  height: 100vh;
}
.card {
  background-color: white;
  max-width: 700px;
  height: auto;
}
.button-container {
  position: relative;
}
.right-1 {
  width: 100%;
  height: auto;
  border-radius: 25px;
}
.right-2 {
  width: 100%;
  height: auto;
  border-radius: 50%;
}
.right-3 {
  width: 100%;
  height: auto;
  border-radius: 0 0 50% 50%;
}
.right-4 {
  width: 100%;
  height: auto;
  border-radius: 50% 50% 0 0;
}
.right-5 {
  width: 100%;
  height: auto;
  border-radius: 50% 0 0 0;
}
.right-6 {
  width: 100%;
  height: auto;
  border-radius: 0 0 50% 0;
}
.right-7 {
  width: 100%;
  height: auto;
  border-radius: 50% 50% 0 0;
}
.button {
  position: absolute;
  bottom: 20px; /* 画像の下からの距離 */
  right: 20px; /* 画像の右からの距離 */
}
.button-link {
  background-color: #4CAF50; /* ボタンの背景色 */
  color: white; /* ボタンの文字色 */
  border: none; /* ボタンの枠線を消す */
  padding: 10px 20px; /* ボタンの内側の余白 */
  text-align: center; /* テキストの中央揃え */
  text-decoration: none; /* テキストの下線を消す */
  display: inline-block; /* インラインブロック要素にする */
  font-size: 16px; /* フォントサイズ */
  margin: 4px 2px; /* ボタンの外側の余白 */
  cursor: pointer; /* カーソルをポインターにする */
  border-radius: 4px; /* ボタンの角を丸くする */
}
footer {
  margin-left: 50%;
  margin-top: 50px;
  text-align: center;
  max-width: 700px;
  padding: 0 16px 0 16px;
}
.footer-menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.footer-menu a {
  margin: 0 10px;
  text-decoration: none;
  font-weight: 600;
  color: black;
}
.footer-menu a:hover {
  text-decoration: underline;
  color: #4CAF50;
}
h1 {
  text-align: center;
  font-size: 3rem;
}
h2 {
  text-align: center;
  margin: 50px auto;
  font-size: 2rem;
}
p {
  text-align: center;
  font-weight: 1.5rem;
}
/* メニューーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
body {
  animation: bugfix infinite 1s;
  -webkit-animation: bugfix infinite 1s;
}

@keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
@-webkit-keyframes bugfix {
  from {
    padding: 0;
  }
  to {
    padding: 0;
  }
}
#overlay-button {
  position: absolute;
  top: 0; /* 上端に配置 */
  left: 0; /* 左端に配置 */
  padding: 40px 40px;
  z-index: 5;
  cursor: pointer;
  user-select: none;
}
#overlay-button span {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color:  white;
  position: relative;
  display: block;
  transition: all .2s ease-in-out;
}
#overlay-button span:before {
  top: -10px;
  visibility: visible;
  z-index: 5;
}
#overlay-button span:after {
  top: 10px;
  z-index: 5;
}
#overlay-button span:before, #overlay-button span:after {
  height: 4px;
  width: 35px;
  border-radius: 2px;
  background-color:  white;
  position: absolute;
  content: "";
  transition: all .2s ease-in-out;
  z-index: 5;
}
#overlay-button:hover span, #overlay-button:hover span:before, #overlay-button:hover span:after {
  background: #4CAF50;
  z-index: 5;
}

input[type=checkbox] {
  display: none; 
  
}

input[type=checkbox]:checked ~ #overlay {
  visibility: visible; 
}

input[type=checkbox]:checked ~ #overlay-button:hover span, input[type=checkbox]:checked ~ #overlay-button span {
  background: transparent;
  
  
}
input[type=checkbox]:checked ~ #overlay-button span:before {
  transform: rotate(45deg) translate(7px, 7px);

}
input[type=checkbox]:checked ~ #overlay-button span:after {
  transform: rotate(-45deg) translate(7px, -7px);


}

#overlay {
  height: 100vh;
  width: 50%;
  /*背景が緑の半透明 */
  background-color: rgba(0, 0, 0, 0.9);
  visibility: hidden;
  position: fixed;
  z-index: 2;
}
/* #overlay.active {} */

#overlay ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  padding-left: 0;
  list-style-type: none;
}
#overlay ul li {
  padding: 1em;
}
#overlay ul li a {
  color: white;
  text-decoration: none;
  font-size: 2em;
  font-weight: bold;
}
#overlay ul li a:hover {
  color:#4CAF50;
}